@import "vars.json";
@import "partials/base";
@import "partials/header";
@import "partials/controller";
@import "partials/map";

.app-body {
  width: 100%;
  height: calc(100% - #{$header-height});
  display: flex;
}