.center {
  width: 100%;
  text-align: center;
}

.wrap {
  width: 100%;
  min-width: 8em;
  flex: 1;
  border-right: 1px solid #343469;
  padding: 8px;
  padding-bottom: 20px;
  overflow-y: scroll;
}

.title {
  font-size: 1.5em;
  composes: center;
}

.subTitle {
  font-size: 1em;
}

.courseButtons {
  composes: center;
}

.startButton {
  composes: center;
}

.connectForm {
  composes: center;
}

.message {
  color: #835050;
  font-size: 0.9em;
}

.messageHide {
  composes: message;
  opacity: 0;
}

.text {
  min-width: 6em;
}

.plenText {
  composes: text;
  text-align: left;
  margin: 2px 0;
  width: 100%;
  padding: 4px 8px;
  max-width: 480px;
}